@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: #7b7a7a92 #fff;
}

#home {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 84vh;
}

#navbar {
    height: 7vh;
    background-color: white;
    box-shadow: 0 0 5px #80808092;
    position: sticky;
    top: 0;
    z-index: 2;
}

#navbar a {
    font-weight: 700;
    font-size: 1.3rem;
    color: #1677ff;
}

#form {
    width: 500px;
    padding: 25px;
    margin: 50px auto;
    box-shadow: 1px 1px 10px #c2c0c092;
    border: 1px solid #8080806c;
    border-radius: 10px;
    background-color: transparent;
}

#select {
    margin-right: 20px;
    padding: 6px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 0 1px grey;
    color: #3b3b3b;
    outline: none;
}

#select:hover {
    border: 1px solid blue;
}

#footer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #3b3b3b;
    box-shadow: 0 0 1px;
}

#footer a {
    font-weight: 400;
    text-decoration: none;
    color: #3b3b3b;
}

#footer a:hover {
    text-decoration: underline;
}

#hero {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#hero #nav {
    margin-top: 5px;
    width: 17%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    box-shadow: 0px 0px 3px #80808092;
    padding: 30px 5px 0px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#hero #nav a {
    padding: 6px;
    width: 80%;
    text-align: center;
    border-radius: 25px;
    font-weight: 500;
    box-shadow: 0 0 2px #fff;
    font-size: 14px;
    color: white;
    background-color: #1677ff;
}

#hero #nav a:hover {
    background-color: #004eba;
    color: white;
}

#hero #nav a:focus {
    background-color: #004eba;
    color: #fff;
}

#hero #data {
    width: 80%;
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#display {
    width: 100%;
    height: 60vh;
    padding: 10px 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#display input {
    box-shadow: none;
}

textarea {
    border-radius: 10px;
    border: 1px solid #80808092;
    outline: none;
    padding: 2px 10px;
    width: 100%;
}

h2 {
    color: #1677ffc7;
}

#profile {
    height: 50vh;
    text-align: start;
}

#profileimg {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    border-radius: 5px;
    background-color: whitesmoke;
}

#photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-color: white;
}

#photo img {
    object-fit: cover;
}

#usertasklyt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    padding: 5px;
    gap: 15px;
    overflow-y: scroll;
}

#usertask {
    width: 45%;
    padding: 10px;
    display: flex;
    text-align: start;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
    box-shadow: 0 0 5px #80808092;
    background-color: #f0ecec4f;
    margin-bottom: 10px;
}

#usertask span {
    border: 1px solid;
    padding: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #fff;
    color: #1677ff;
    font-weight: 500;
}

#usertask b {
    color: #3b3b3b;
}

#usertask p {
    font-weight: 500;
}

#pass {
    filter: blur(4px);
    transition: .5s;
}

#pass:hover {
    filter: none;
    transition: .8s;
    cursor: default;
}

#dashboard-btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    gap: 15px;
    width: 95%;
    margin: auto;
    position: sticky;
    top: 10px;
    z-index: 2;
}

#search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 0px;
}

#search input {
    width: 250px;
    height: 35px;
    padding: 6px 10px;
}

#taskstatus td {
    text-align: start;
    align-content: center;
    font-size: 14px;
}

#taskdetails th {
    text-align: start;
    font-weight: 500;
    color: #004eba;
}

#tablehead th {
    background-color: #1677ff;
    font-weight: 500;
    color: white;
}

#task-status {
    width: 75%;
    background-color: #fff;
    margin-bottom: 20px;
    text-align: start;
    border-radius: 10px;
    box-shadow: 0 0 3px #8080806c;
    padding: 10px;
    margin-left: 10px;
}

#task-status b {
    font-weight: 600;
}

#task-status span {
    font-weight: 500;
}

#counter {
    height: 28px;
    width: 28px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    background-color: whitesmoke;
    color: #004eba;
}

strong {
    color: rgb(24, 147, 188);
    font-weight: 500;
}

/* Responsive Design */
#task-status-div{
    overflow-x: scroll;
}

#task-status-btn{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 15px 10px;
    background-color: white;
}





@media (min-width: 1200px) {
    #hero {
        flex-direction: row;
        text-align: left;
    }

    #hero #data {
        width: 70%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #hero {
        flex-direction: row;
        text-align: left;
    }

    #hero #nav {
        width: 25%;
    }

    #hero #data {
        width: 65%;
    }

    #usertasklyt {
        overflow-y: scroll;
    }

    #usertask {
        width: 70%;
    }

    #task-status {
        width: 95%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #hero {
        flex-direction: row;
        text-align: left;
    }

    #hero #nav {
        width: 25%;
        margin-bottom: 0;
    }

    #hero #nav a {
        width: 90%;
    }

    #hero #data {
        width: 60%;
    }

    #usertasklyt {
        overflow-y: scroll;
    }

    #usertask {
        width: 90%;
    }

    #task-status {
        width: 95%;
    }
}

@media (min-width: 320px) and (max-width: 767.98px) {
    #navbar{height: 9vh;}
    #hero {
        height: 125vh;
        flex-direction: column;
        padding: 10px 0px;
    }

    #hero #nav {
        width: 82%;
        height: 40vh;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 1px dotted;
    }

    #hero #data {
        width: 95%;
        height: 75vh;
        padding: 8px;
    }

    #dashboard-btn {
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #form {
        width: 90%;
        padding: 25px;
        margin: 0px auto;
        box-shadow: 1px 1px 10px #c2c0c092;
        border-radius: 10px;
        border: 1px dotted;
        
    }
    select{
        margin-left: -120px;
    }

    #form Button{
        margin-left: -120px;
    }

    #dashboard-btn {
        position: relative;
        top: 0px;
        z-index: 1;
    }
    #dashboard-btn i{
        font-size: 8px;
    }
    #dashboard-btn button{
        font-size: 12px;
    }

    #search input{
        width: 200px;
    }
    #usertask {
        width: 100%;
        padding: 10px 5px;
        height: auto;
    }

    #task-status {
        width: 100%;
        padding: 5px;
    }
    #profileimg {
        flex-direction: column;
    }
    #profile h1{
        font-size: 16px;
        text-align: center;
    }
    #profile h5{
        font-size: 16px;
        padding: 0px 10px;
    }
    #reset-pass-btn{
        margin-left: -20px;
    }
    #task-status-div{
        overflow-x: scroll;
    }
    #task-status-btn{
        width: 720px;
        border: 1px solid transparent;
        border-bottom-color: #80808092;
    }
    Table th{
        font-size: 10px;
    }
    Table td{
        font-size: 10px;
    }
    Table td Button{
        width: 130px;
    }
    #usertask select{
        margin-left: 0px;
    }
    #profileimg #file{
        width: 100%;
        padding: 5px;
    }
}